<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/main/java/org/example/tests/EmbroideredPaintingsFirstTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="org.example.tests.EmbroideredPaintingsFirstTest">
                <methods>
                    <include name="checkPaintingInStock"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>