<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3" parallel="tests">
    <listeners>
        <listener class-name="reporting.TestFailureListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/test/java/tests/PaintingInStockTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="paintingName" value="Трамвайный путь"></parameter>
        <classes>
            <class name="tests.PaintingInStockTest">
                <methods>
                    <include name="checkPaintingInStock"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/test/java/tests/PaintingStyleTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="paintingName" value="Трамвайный путь"></parameter>
        <parameter name="paintingStyle" value="Реализм"></parameter>
        <classes>
            <class name="tests.PaintingStyleTest">
                <methods>
                    <include name="checkPaintingStyle"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/test/java/tests/PaintingInFavouritesTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="tests.PaintingInFavouritesTest">
                <methods>
                    <include name="checkPaintingInFavourites"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/test/java/tests/SearchTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="containingString" value="Жираф"></parameter>
        <classes>
            <class name="tests.SearchTest">
                <methods>
                    <include name="checkFirstElementNameContainsString"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/LOKTEVS/IdeaProjects/AutomatedTestingFramework/src/test/java/tests/FavouritesPriceTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="directionName" value="Ювелирное искусство"></parameter>
        <parameter name="productIndex" value="0"></parameter>
        <classes>
            <class name="tests.FavouritesPriceTest">
                <methods>
                    <include name="checkPriceInFavouritesMatch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>